<h2>Grocery Shopping List</h2>

<div class="container">
  <div id="top">
    <!-- Input field for adding new tasks -->
    <input type="text" #addtask placeholder="Add your Grocery" [(ngModel)]="newTask">

    <!-- Button to add new task -->
    <button (click)="addTask()">Add Grocery</button>

    <!-- Display total number of items -->
    <p>Total Number of Items: {{ tasks.length }}</p>
  </div>

  <!-- Display tasks -->
  <div id="bottom">
    <ul>
        <div *ngFor="let task of tasks; let i = index">
          <li [style.textDecoration]="task.completed ? 'line-through' : 'none'">
            {{ task.name }}
          </li>
          <div id = "btn">
            <button id = "check" (click)="ctcb(task)">Check</button>
            <button id = "delete" (click)="deleteTask(i)">Delete</button>
          </div>
        </div>
    </ul>
  </div>
</div>
